
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */