*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: "Questrial";
    font-style: normal;
    font-weight: normal;
    src: url(../font/Questrial-Regular.ttf);
}

body {
	background-color: white;
}

/**** HEADER ****/

.navNX{
	background: #AF0E49;
	font-family: Questrial;
}
nav>ul>li>a{
	color: #fff;
}
nav a:hover{
    text-decoration:none;
    text-shadow: 1px 1px; /* Sombreado*/
    color: #ffc300;
}

/**** SCROLL PERSONALIZADO ****/

body::-webkit-scrollbar {
	width: 10px;
	background: black;
}

body::-webkit-scrollbar-thumb {
	background: #C30F51;
	border-radius: 10px;
	border-right: 2px solid #C30F51;
}


/**** CAROUSEL ****/

#nosotrosImg {
	width: 595px;
	height: 430px;
	margin: 0px;
	padding: 0px;
}

#car1 h1 {
    color: #ffc300;
    font-family: Questrial;
}

#car1 p {
    color: white;
    font-size: 24px;
    font-weight: normal;
}

/**** NOSOTROS ****/

#nosotros p {
    background-color: rgba(255, 255, 255, 0.1);
    color: #333;
    font-size: 15px;
}
#nosotros h3 {
    color: #AF0E49;
}
.contenido {
	width: 96%;
	height: 96%;
    font-family: Questrial;
}

/**** EVENTOS ****/

#eventos {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
    font-family: Questrial;
}

#eventos {
	background-image: url("../img/Section Eventos.jpg");
	background-size: cover;
	background-position: center;
	height: 600px;
}

.opacidadEventos {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
}

.padding-navEve{
	padding-top: 30px;
}

section>div>div>ul>li:hover>a{
	color: #ffc300;
}
section>div>div>ul>li>a{
	color: white;
}
#myTabContent h4 {
	color: #ffc300;
}

/**** CONTÁCTENOS ****/

#contactenos {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
    font-family: Questrial;
}

#contactenos {
	background-image: url("../img/Section Contáctenos.jpg");
	background-size: cover;
	background-position: center;
	height: 600px;
}
.opacidadcontactenos {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
}

/**** FOOTER ****/

.iconF{
	margin-top: 6px;
	margin-left: 25px;
	font-size: 18px;
	color: #fff;
}
footer {
	background: #AF0E49;
	color: white;
}
