* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
@font-face{
	font-family:"GloriaHallelujah";
	src: url(../font/GloriaHallelujah.ttf);
}
body {
	background: #f0f3f5;
}

header {
	background: #173b9e;
	padding: 0px;	
}
.logo {
	width: 9% ; 
	height: 40px;
	padding: 4px 0px 0px 20px; /*Posicionamiento*/
	background: #173b9e;
}
.salir a:hover {
	background: rgba(255,255,255,.1);
}

 /* --- SIDEBAR --- */

#sidebartext {
	font-family: "GloriaHallelujah";
	font-size: 22px;
	color: #ffd635;
}
.nav a {
	margin-top: 0px ;
	font-family: "GloriaHallelujah";
	font-size: 18px;	
	color: #ffd635;
}
.navbar {
	background: #173b9e;
	opacity: 2.9; 
}
.aside .navbar a:hover {
	background: #0074e8;
	text-decoration: none;
}
.aside .navbar a {
	display: block;
	padding: 9px;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.name {
	font-size: 18px;
}

.userpicture {
	width: 120px;
	height: 120px;
}
/* --- Widget Estado --- */

.main .estado .caja {
	background: #fff;
	border: 1px solid #e3e3e3;
	padding: 16px 20px;
	flex: 1;
	text-align: center;
}

.main .estado .caja h4 {
	margin-bottom: 2px;
	color: #173b9e;
}

.main .estado .caja p {
	color: #a8a8a8;
	margin-bottom: 0;
}

footer {
	padding: 10px 0;
	background: #173b9e;
	color: #fff;
	font-size: 18px;
	padding: 4px 0px 0px 20px; 
}


