*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: "GloriaHallelujah";
	src: url(../font/GloriaHallelujah.ttf);
}

@font-face{
	font-family:"Vladimir";
	src: url(../font/VLADIMIR.TTF);
	

}

/*Inicio Nav*/
#nav{
	background-color: #173b9e;	
	color: #fff;
}

#btnIngreso{
	background-color: #173b9e;
	border-color: #173b9e;
	font-family: "GloriaHallelujah";
}

#btnIngreso:hover {
	background-color:#0069d9;
	border-color: #0074e8;
	border-radius: 5px;

}

img{
	width: 40%;
	float: left;
}

#opcNav>ul>li>a{
	color: #fff;
}

nav>a{
	width: 20%;
}
nav>div>ul>li:hover{
	background-color:#0069d9 ;
	border-radius: 5px;
}

nav>div>ul>li>a{
	font-family: "GloriaHallelujah";
}

/*Fin Nav*/


/*Fondo inicial*/
#presentacion{
	background-image: url(../img/Inicio.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.tipo-vladimir{
	font-family: "Vladimir";
	color: #ffd635;
}

#btnIniciar{
	font-size: 1.8em;
}
/*Fondo inicial*/


/*Sección Nosotros*/
#Nosotros {
	background-image: url("../img/Nautas.jpg");
	background-size: cover;
	background-position: center;
	height:100vh;
	width: 100vw;
}

#rowNosotros{
	font-family: "GloriaHallelujah";
	font-size:1.8em;

}
.opacidad {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
}

#rowNosotros>div>h1{

	color:#ffd635;
}

.container-fluid{
	margin-right: 0;
}
/* Fin Sección Nosotros*/

/*Sección Eventos*/
#Eventos {
	background-image: url("../img/Eventos.jpg");
	background-size: cover;
	background-position: center;
	height: 700px;
}

#rowEventos{
	width: 100%;
	height: 100%;
/*	font-family: "GloriaHallelujah";
	font-size:2em;*/

}

.rounded-circle {
  border-radius: 15%;
}

.opacidadEventos {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}

.pad-eve{
	padding-top: 80px;
}

.infan{
	width:50%;
	height: 60%;
}
.navEve {
  border-bottom: 1px solid #ffd635;
}
section>div>div>div>ul>li:hover{
  border: 1px solid #ffd635;
  border-top-right-radius:0.3rem;
  border-top-left-radius:0.3rem; 

}

