*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face{
	font-family: "Questrial";
	src: url(../font/Questrial-Regular.ttf);
}
body{
	background: url('../img/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Questrial';

}	

#formularios{
	background:rgba(0, 0, 0, .7);
	color: white;
	border-radius: 7px;
	max-width: 500px;
	margin: 48px auto;

}


#formularios .toggle{
	position: relative;
	top: 7px;
	right: 7px;
	width: 30%;
	height: 30px;
	border-top: 2px solid #af0e49 ;
	border-bottom: 2px solid #af0e49;
	transition: all .5s ease;
	cursor: pointer;

}

#formularios .toggle span{
	letter-spacing: 1px;
}

#formularios .toggle:hover{
	border-top: 2px solid #0075d9 ;
	border-bottom: 2px solid #0075d9;
}

.formulariosInicio h2{
	font-weight: 400;
	line-height: 1;
	font-size: 25px;
}

#formularios .form-group input[type="text"],
#formularios .form-group input[type="password"],
#formularios .form-group select,
#formularios .form-group input[type="email"]{
	outline: none;
	background: rgba(0, 0, 0, .5);	
	color: white;
	border: none;
	border-bottom: 3px solid #af0e49;
	transition: all .5s ease;

}

#formularios .form-group input[type="text"]:focus,
#formularios .form-group input[type="password"]:focus,
#formularios .form-group input[type="email"]:focus  {
	border-bottom: 3px solid #0075d9 ;
}

#formularios button{
	background-color: #af0e49;	
	color: white;
	letter-spacing: 0.5px;
	cursor: pointer;
	transition: all .5s ease;
}

#formularios button:hover{
	background-color: rgba(0, 117, 217, 0.7);
}

#recuperarContra {
	background-color: rgba(0, 117, 217, 0.7);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#recuperarContra a{
	color: white;
	text-decoration: none;
}
#formularios .formulariosInicio{
	display: none;
}
#formularios .formulariosInicio:nth-child(2){
	display: block;
}

.field-error .control-label,
.field-error .help-block,
.field-error .form-control-feedback {
	color: #ff0039;
}

.field-success .control-label,
.field-success .help-block,
.field-success .form-control-feedback {
	color: #2780e3;
}